In [1]:
import pandas as pd
import numpy as np
from collections import Counter
import csv

In [2]:
df = pd.read_csv("Assignment1Data_Sample.csv")

In [3]:
df.shape

(204, 44)

In [4]:
df.columns

Index(['Object Number', 'Is Highlight', 'Is Public Domain', 'Object ID',
       'Department', 'Object Name', 'Title', 'Culture', 'Period', 'Dynasty',
       'Reign', 'Portfolio', 'Artist Role', 'Artist Prefix',
       'Artist Display Name', 'Artist Display Bio', 'Artist Suffix',
       'Artist Alpha Sort', 'Artist Nationality', 'Artist Begin Date',
       'Artist End Date', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line',
       'Geography Type', 'City', 'State', 'County', 'Country', 'Region',
       'Subregion', 'Locale', 'Locus', 'Excavation', 'River', 'Classification',
       'Rights and Reproduction', 'Link Resource', 'Metadata Date',
       'Repository', 'Tags'],
      dtype='object')

Creating a data frame with columns required for the assignment. The required columns are Object Number, Is Highlight, Is Public Domain, Object ID, Object Name, Medium, Department, Culture, Object Begin Date, Object End Data, and Artist Nationality

In [5]:
df_t = df[['Object Number','Is Highlight','Is Public Domain','Object ID','Object Name','Medium','Department','Culture','Object Begin Date', 'Object End Date','Artist Nationality']]

In [6]:
df_t.isna().sum()

Object Number           0
Is Highlight            0
Is Public Domain        0
Object ID               0
Object Name             1
Medium                  2
Department              1
Culture               120
Object Begin Date       0
Object End Date         2
Artist Nationality    117
dtype: int64

Find the missing values percentage for each colum

In [7]:
df_missing_percent = (df_t.isna().sum()/len(df_t))*100
print(df_missing_percent)

Object Number          0.000000
Is Highlight           0.000000
Is Public Domain       0.000000
Object ID              0.000000
Object Name            0.490196
Medium                 0.980392
Department             0.490196
Culture               58.823529
Object Begin Date      0.000000
Object End Date        0.980392
Artist Nationality    57.352941
dtype: float64

Remove null values for Medium, Department, and Object End Date. These columns are useful for solving the assignment questions.

In [8]:
new_df = df_t.drop(df_t[(df_t['Medium'].isna())|(df_t['Department'].isna())|(df_t['Object End Date'].isna())].index)
new_df_missing_percent = (new_df.isna().sum()/len(new_df))*100
print(new_df_missing_percent)

Object Number          0.000000
Is Highlight           0.000000
Is Public Domain       0.000000
Object ID              0.000000
Object Name            0.502513
Medium                 0.000000
Department             0.000000
Culture               58.793970
Object Begin Date      0.000000
Object End Date        0.000000
Artist Nationality    57.286432
dtype: float64

In [9]:
print("The data types of fields are :")
print(new_df.dtypes)

The data types of fields are :
Object Number          object
Is Highlight             bool
Is Public Domain         bool
Object ID               int64
Object Name            object
Medium                 object
Department             object
Culture                object
Object Begin Date       int64
Object End Date       float64
Artist Nationality     object
dtype: object

Convert Object End Date data type from float to int as the data type of Object Begin Date is int. These two columns are useful while finding the age of object.

In [10]:
new_df['Object End Date'] = new_df['Object End Date'].astype(int)
print(new_df.dtypes)

Object Number         object
Is Highlight            bool
Is Public Domain        bool
Object ID              int64
Object Name           object
Medium                object
Department            object
Culture               object
Object Begin Date      int64
Object End Date        int32
Artist Nationality    object
dtype: object

Logic to find the frequency for each type of medium

In [11]:
mediums =new_df.Medium.unique() #Considering the unique values of Medium to prevent the iterations over null values
s='' # The string will have all the rows of data
listall=[] # each type of potential medium will be saved as a element of list
for elem in mediums:
    elem = elem.upper().strip()
    temp_list= elem.split(',')    
    #print(temp_list)
    listall = listall+temp_list
newString = [x.strip(' ') for x in listall] #remove leading and trailing spaces of each element in the list
sortedNewString = sorted(newString)
counts = Counter(sortedNewString) # counts is a collection with frequencies of elements in the list

Convert counters to a data frame. Because writing Data frame to a csv file is very easy through pandas.

In [12]:
df_final = pd.DataFrame.from_dict(counts, orient='index').reset_index()
df_final.rename(columns = {'index':'Medium', 0:'count'})

                                       Medium  count
0                      A) LEATHER; B) LEATHER      1
1           ALBUM LEAF; INK AND COLOR ON SILK      1
2                          ALBUMEN PHOTOGRAPH      1
3               ALBUMEN PRINT (GLOSSY FINISH)      1
4    ALBUMEN SILVER PRINT FROM GLASS NEGATIVE      1
..                                        ...    ...
158                                      WOOD      3
159                            WOOD ENGRAVING      1
160                                   WOODCUT      1
161                                      WOOL      5
162                     [NO MEDIUM AVAILABLE]      1

[163 rows x 2 columns]

Writing the modified Medium dataframe with frequency  to a csv file.

In [13]:
df_final.to_csv("medium1.csv")

Clean the Nationality column. The values are pipe delimited with repetition. So, I considered first value that appear before the pipe delimiter as the nationality of an artist

In [14]:
art = new_df['Artist Nationality']

Read first word that appear before the pipe delimiter in the nationality and add the word to a list. Later, the list will be joined to the data frame.

In [15]:
te1 = art.copy()
teList=[]
s1=te1.tolist()
print(s1)
for nationality in s1:
    if type(nationality) is not str:
        nationality = str(nationality)
    #print(type(nationality))
    if nationality != ''or nationality !=np.nan:
        temp=''
        for value in nationality:
            if value =='|':
                break
            else:
                temp+=value;
    teList.append(temp)
print("=================Without pipe delimiters===========")
print(teList)

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Chinese', nan, 'Japanese', 'Japanese', 'Japanese', nan, nan, nan, 'Chinese', nan, 'Japanese|Japanese', 'British', 'American|American', 'Italian', nan, 'French, born Italy', nan, 'French|French', 'French|French', 'American', nan, nan, 'British|British', nan, 'American', nan, nan, nan, 'American', 'American', nan, nan, nan, 'Italian', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'American', 'American', nan, 'Belgian', 'American', 'American', 'American', 'French', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'American', 'Italian', 'Italian', 'Italian', 'French|French|French|French|French|French', 'American|American|American', 'British', 'American', 'Japanese', 'French|French', 'British|British|British|British|British|British|British', 'French', 'Italian|Bohemian', 'Italian', 'Italian', 'Italian', 'American', 'Dutch|Dutch|Dutch', 'French|French|French|French|French', 'American', 'British', 'Dutch', 'American', 'Netherlandish|German', 'American', 'American', 'Italian|Italian', nan, 'Italian|Italian', 'French|British', 'American|American', nan, 'French|Italian', 'German', 'French|French', 'American', 'French', 'American', 'French', nan, nan, nan, nan, nan, nan, 'Italian', nan, nan, nan, nan, nan, 'American, born Russia', 'Finnish|Finnish', 'British, Scottish', 'Italian', 'Italian', 'Mexican', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'American', 'Italian|Italian|Italian|Italian|Italian', nan, 'Italian|Italian|German', 'American', 'Canadian', 'American', 'American', 'Scottish|British|British, Scottish|British|British', 'Austrian', 'American, born Russia', 'American', 'American', nan, 'Mexican', 'Italian|British', 'German|American|American|American', 'American', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
=================Without pipe delimiters===========
['nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'Chinese', 'nan', 'Japanese', 'Japanese', 'Japanese', 'nan', 'nan', 'nan', 'Chinese', 'nan', 'Japanese', 'British', 'American', 'Italian', 'nan', 'French, born Italy', 'nan', 'French', 'French', 'American', 'nan', 'nan', 'British', 'nan', 'American', 'nan', 'nan', 'nan', 'American', 'American', 'nan', 'nan', 'nan', 'Italian', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'American', 'American', 'nan', 'Belgian', 'American', 'American', 'American', 'French', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'American', 'Italian', 'Italian', 'Italian', 'French', 'American', 'British', 'American', 'Japanese', 'French', 'British', 'French', 'Italian', 'Italian', 'Italian', 'Italian', 'American', 'Dutch', 'French', 'American', 'British', 'Dutch', 'American', 'Netherlandish', 'American', 'American', 'Italian', 'nan', 'Italian', 'French', 'American', 'nan', 'French', 'German', 'French', 'American', 'French', 'American', 'French', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'Italian', 'nan', 'nan', 'nan', 'nan', 'nan', 'American, born Russia', 'Finnish', 'British, Scottish', 'Italian', 'Italian', 'Mexican', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'American', 'Italian', 'nan', 'Italian', 'American', 'Canadian', 'American', 'American', 'Scottish', 'Austrian', 'American, born Russia', 'American', 'American', 'nan', 'Mexican', 'Italian', 'German', 'American', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan']

In [16]:
new_df['Artist_Nationality_new'] = pd.Series(teList)

Replace 'nan's in the Artist_nationality_new with blanks

In [17]:
new_df.Artist_Nationality_new.replace(to_replace='nan', value='',inplace=True)

In [18]:
new_df.Artist_Nationality_new.unique()

array(['', 'Chinese', 'Japanese', 'British', 'American', 'Italian',
       'French, born Italy', 'French', 'Belgian', 'Dutch',
       'Netherlandish', 'German', 'American, born Russia', 'Finnish',
       'British, Scottish', 'Mexican', 'Canadian', 'Scottish', 'Austrian',
       nan], dtype=object)

Save the cleaned data to a .csv file

In [19]:
new_df.to_csv("Assignment1_Clean_Data.csv")